body{
    background-color: #FDC0C0;
    background-size: 100%;
}

.logo img{
    width: 100px;
    margin-left: 20px;
    margin-top: -85px;
}

.container h3{
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 120px;
    font-size: 25;
    letter-spacing: 2px;

}

.container p{
    margin-top: -15px;
    margin-left: 120px;
}

input[type=text]
{
    width: 130px;
    height: 40px;
    margin-left: 550px;
    margin-top: -57px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    background-image: url('search.png');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    padding: 15px 2px 10px 50px;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-in-out;
}

input[type=text]:focus
{
    width: 40%;
}

form ::placeholder{
color: black;
}


.login{
    display: flex;
}

.login img{
    width: 70px;
    margin-left: 1150px;
    margin-top: -75px;
}


nav  {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 20;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
    width: 150px;
}

.navbar{
    margin-left: -10px;
    width: 1320px;
    margin-top: 38px;
}

nav ul {
    background: white;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: block;
    width: 100%;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
}

nav ul li:hover {
    background: #d4d4d4;
}

nav ul li:hover a {
    color: black;
}

nav ul li a {
    display: block;
    padding: 25px;
    color: black;
    text-decoration: none;
}

nav ul ul {
    background: white;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px solid #ffdfc4;
    border-bottom: 1px solid #ffdfc4;
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}

nav ul ul li a:hover {
    background-color: #D4D4D4 ;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}



h2{
    text-align: center;
    margin-top: -230;
    margin-left: -875px;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.containers{
    position: absolute;
    left:50%;
    top:65.5%;
    transform: translate(-50%,-50%);
    width:1315px;
    height:450px;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.containers.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#slide{
    width:200px;
    margin-top:90px;
    
}
.item{
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    width: 180px;
    height: 180px;
    left: 50%;
    top: 225px;
}
.item:nth-child(4){
    width: 180px;
    height: 180px;
    left:calc(50% + 220px);
    top: 225px;
}
.item:nth-child(5){
    width: 180px;
    height: 180px;
    left:calc(50% + 440px);
    top: 225px;
}
.item:nth-child(6){
    width: 180px;
    height: 180px;
    left:calc(30% + 560px);
    opacity: 0;
}

.content button{
    margin-top: 20px;
    margin-left: -20px;
    color: black;
}



.item .content{
    position: absolute;
    top:50%;
    left:20px;
    width:600px;
    height: 130px;
    text-align: center;
    padding: 2px;
    background-color: #FDC0C0;
    border-radius: 20px;
    color:#000000;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}

.item .content a button{
    background-color: white;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}

.buttons{
    position: absolute;
    margin-left: 265px;
    bottom: 70px;
    z-index: 222222;
    text-align: center;
    width:100%;
}

.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
    background-color: white;
    
}

.buttons button:hover{
    background-color: #d4d4d4;
}

.keranjang{
    margin-left: 1090px;
    margin-top: -65px;
}


