body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fddde6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.text-container h1 {
    font-size: 2em;
    color: #000;
    margin: 0;
}

.text-container p {
    font-size: 1.2em;
    color: #000;
    margin: 5px 0 0 0;
}
